<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
		  <p>&copy IntelliStream Research Group. </p>
		</div>
 		<div class="col-sm-4">
          <p>We are part of the <a href="https://www.ntu.edu.sg/pdcl">Data Management and Analytics Lab (DAML)</a> at <a href="https://www.ntu.edu.sg/">the Nanyang Technological University</a>. We are also affiliated to <a href="https://www3.ntu.edu.sg/computing/DMAL/Dante/">DANTE (DATA MANAGEMENT @NANYANG TECH)</a> group</p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
