<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="col-sm-4">
		  <p>&copy IntelliStream Research Group. </p>
		</div>
		<div class="col-sm-4">
			<p>We are part of the <a href="http://grid.hust.edu.cn/">Cluster and Grid Computing Lab)</a> at <a href="https://english.hust.edu.cn/">the Huazhong University of Science and Technology - 华中科技大学</a>.</p>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
