<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body class="bg-cover bg-center bg-no-repeat" style="background-image: url('/assets/images/bg.jpeg'); background-size: cover; background-attachment: fixed; background-position: center; margin: 0; padding: 0; width: 100vw; overflow-x: hidden;">

{% include header.html %}

<div class="container mx-auto px-0">
  <div class="row justify-content-center">
    {{ content }}
  </div>
</div>

{% include footer.html %}

</body>
</html>
